html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0 40px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.font-weight-normal {
    font-weight: 400!important;
    text-align: center;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: #3f51b54d;
    width: 7rem;
    margin: auto;
    color: black;
}

#registerButton {
    text-decoration: underline;
}

#registerButton:hover {
    color: blue;
}

.hidden {
    display: none;
}