

body {
  margin: 0px;
}

/**HEADER, FOOTER**/


.header-container,
.footer-container {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.header-container div,
.footer-container div {
  margin: 10px;
}

.header-container div:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}

.header-container div:nth-child(5) {
  margin-left: 600px;
}

#logout {
  text-decoration: none;
}


/**DASHBOARD PAGE**/

#grid_table {
  margin-top: 50px;
}


/**EMPLOYEE PAGE**/
.container-form-employee {
  margin-left: 200px !important;
  margin-top: 80px !important;
}

#return>a {
  text-decoration: none;
  color: white;
}


/*AVATAR*/

#avatar-container {
  display: flex;
  width: 500px;
  margin-left: 20%;
  margin-top: 50px;
  justify-content: space-between;
}

#avatar-container img {
  width: 20%;
  margin-right: 5px;
  transition: transform 0.25s;
}

#avatar-container img:hover,
#avatar-chosen img:hover {
  border: 1px solid blue;
  border-radius: 5px;
  transform: scale(1.1) !Important;
  transition: transform 0.25s;
}

#avatar-chosen {
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}

#avatar-chosen img {
  width: 20%;
  display: block;
  margin: auto;
}

/**FOOTER**/

.footer-container {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  left: 0px;
  background-color: whitesmoke;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-container>p {
  margin: auto;
  padding: 20px;
  display: block;
  text-align: center;
}


/* image placeholder*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.hide {
  display: none !important;
}
